* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: 0 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #333333;
}

h1 {
  font-size: 50px;
  line-height: 58px;
  margin-bottom: 8px;
}

h2 {
  font-size: 44px;
  line-height: 61px;
  margin-bottom: 8px;
}

h3 {
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 8px;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* header section start */

.main-nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.g-navbar {
  padding: 0;
  background-color: #FFFFFF;
}

.g-navbar .g-nav .logo {
  width: 200px;
  height: auto;
}

.g-navbar .g-nav .logo img {
  width: 100%;
  height: 100%;

}

.g-navbar .g-nav .gbtn {
  background-color: #347cff;
  border-radius: 8px;
  padding: 12px 20px;

}

.g-navbar .g-nav .gbtn a {
  color: #ffffff;
  text-decoration: none;
}

.g-navbar .g-nav .gtoggler {
  display: none;
  height: 16px;
  width: 22px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.g-navbar .g-nav .gtoggler span {
  width: 100%;
  height: 2px;
  background-color: #312d2d;
  display: block;
  border-radius: 2px;
  transition: 0.3s ease all;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 50px;
}

.search-bar {
  border: 2px solid #d0d0d0;
  color: #d0d0d0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 20px;
  width: 65%;
  margin: 0 25px;
}

.cart-icons .svg-inline--fa {
  font-size: 20px;
  color: #7e7575;
  padding-right: 25px;
}

.cart-outer {
  position: relative;
}
.cart-count {
  position: absolute;
    left: 11px;
    top: 7px;
    text-align: center;
    border-radius: 7px;
    width: 18px;
    height: 18px;
    font-size: 13px;
    background-color: #ff6161;
    border: 1px solid #fff;
    color: #fff;
}

/* header section start */


/* product section start */

.product-section .product-box .text p {
  color: black;
  margin-bottom: 5px;
}

.product-section .product-box .text p span {
  font-weight: 600;
}

.product-section .product-box .item-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.product-section .product-box .item-box .item {
  background-color: #ffffff;
  padding: 34px;
  margin: 22px 13px;
  text-align: center;
  width: 22%;
  border: 2px solid #e6e6e6ae;
  transition: all ease-in-out 0.3s;
}

.product-section .product-box .item-box .item:hover {
  box-shadow: 0 0 12px rgb(0 0 0 / 25%);
}

.product-section .product-box .item-box .item img {
  transition: transform 0.75s;
  height: 132px;
  cursor: pointer;
}

.product-section .product-box .item-box .item img:hover {
  transform: scale(1.1);
}

.product-box .product-text h3 {
  text-align: center;
  margin-bottom: 50px;
}

.product-box .product-text h3::after {
  content: "";
  display: block;
  width: 100px;
  padding-top: 3px;
  border-bottom: 4px solid #ce0903;
  margin: auto;
}

.product-box .item-box .item .text {
  padding-top: 18px;
}

.product-section {
  padding: 50px 0;
  background-color: #F5F5F5;
}

.recently.product-section {
  padding: 0 0;
}

.product-section .view-all {
  padding-top: 15px;
  text-align: center;
}

.product-section .view-all a {
  color: black;
  text-align: center;
}

/* product section end */

/* Details page start */

.carousel .slide img {
  width: auto !important;
  vertical-align: top;
  height: 250px;
  border: 0;
}

.carousel .thumbs-wrapper {
  text-align: center;
}

.details-section {
  padding-top: 160px;
  padding-bottom: 50px;
}

.details-section .details-box {
  display: flex;
}

.details-box .product-image {
  width: 50%;
  padding-right: 32px;
}

.details-box .detail {
  width: 50%;
  max-width: 496px;
  padding-left: 32px;
}

.details-box .detail .rating {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

.details-box .detail .reviews {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}

.details-box .detail .brand {
  color: #878787;
  padding-top: 15px;
}

.details-box .detail .price {
  padding-top: 15px;
}

.main-text {
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}

.gray-text {
  font-size: 16px;
  margin-left: 12px;
  vertical-align: middle;
  color: #878787;
  text-decoration: line-through;
}

.green-text {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #388e3c;
  vertical-align: middle;
}

.details-box .cart-buttons {
  padding-top: 20px;
}

.details-box .cart {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  width: 98%;
  border: none;
  float: left;
  background: #ff9f00;
  color: #ffffff;
}

.details-box .product-description {
  padding-top: 20px;
}

/* Details page end */


/* footer-section start */
.footer-section {
  padding: 100px 0 4px 0;
  background-color: #c70903;
}

.footer-section .footer-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.footer-section .footer-body .company-box h6 {
  margin-bottom: 22px;
  transition: all ease-in-out 0.1s;
}

.footer-section .footer-body .company-box h6:hover {
  color: #ffe6e6;
}

.footer-section .footer-body .company-box ul li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 20px;
}

.footer-section .footer-body .company-box ul li a {
  transition: all .2s;
  text-decoration: none;
  color: white;
}

.footer-section .footer-body .company-box ul li a:hover {
  padding-left: 5px;
  color: #d0d0d0;
}

.company-box {
  width: 25%;
}

.company-box p {
  color: white;
}

.copy-right hr {
  border-bottom: 2px solid white;
  width: 100%;
  margin-top: 40px;
}

.copy-right p {
  text-align: center;
  color: white;
  padding-top: 12px;
}

/* footer-section end */

/* cat section start */

.cart-section {
  padding: 160px 0 50px 0;
}

.cart-section .product-list {
  width: 66.66%
}

.cart-section .cart-detail {
  display: flex;
  padding: 0 100px;
}

.cart-section .cart-detail .product-list {
  background: #fcfcfc;
}

.cart-section .cart-detail .product-detail {
  padding: 24px;
  position: relative;
}

.cart-section .cart-detail .product-detail .prod-data {
  display: flex;
}

.cart-section .cart-detail .product-detail .prod-data .product-image {
  height: 100px;
  width: 100px;
}

.cart-section .cart-detail .product-detail .prod-data .product-desc {
  padding: 0 24px 12px;
}

.cart-section .cart-detail .product-detail .prod-counter {
  display: flex;
  padding-top: 10px;
}

.cart-section .cart-detail .product-detail .prod-counter .item-count {
  display: inline-block;
  padding: 3px 6px;
  width: calc(100% - 60px);
  height: 100%;
  width: 46px;
  height: 28px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  margin: 0 5px;
  text-align: center;
}

.cart-section .cart-detail .product-detail .prod-counter .counter-btn {
  color: #c2c2c2;
  border-color: #e0e0e0;
  cursor: auto;
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  padding-top: 1px;
  line-height: 1;
}

.cart-section .price-details {
  width: 30%;
  margin-left: 25px;
  position: sticky;
  justify-content: space-between;
  height: 60vh;
  min-height: 400px;
  background: #fcfcfc;
}

.cart-section .price-details h3 {
  display: block;
  text-transform: uppercase;
  padding: 13px 24px;
}

.cart-section .price-details-inner {
  padding: 0 24px;
}

.cart-section .price-details-inner .item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: flex-start;
}

.cart-section .price-details-inner .order-clear-btn {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: flex-start;
}

.cart-section .price-details-inner .clear-btn {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  border: none;
  float: left;
  background: #ffffff;
  color: #000000;
}

.cart-section .price-details-inner .order-btn {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  border: none;
  float: left;
  background: #ff9f00;
}
.cart-section .price-details-inner .order-btn button {
  color: #ffffff;
}

/* cat section end */